body {
<<<<<<< Updated upstream
  background-color: rgb(215, 215, 215);
=======
  background-color: grey;
>>>>>>> Stashed changes
}

#cookie {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 300px;
  padding-left: 50px;
}

#cookie img {
  max-width: 100%;
  height: auto;
<<<<<<< Updated upstream
  cursor: pointer;
=======
  cursor:pointer ;
>>>>>>> Stashed changes
}

#score {
  display: flex;
  align-content: center;
  font-size: 24px; /* Ensure the score is visible */
  margin-bottom: 20px; /* Add some space below the score */
}
