body {
background-color: grey;
}

#cookie {
  display: flex;
  align-items: center; /* Verticaal centreren */
  flex-direction: column;
  justify-content: center; /* Naar links uitlijnen */
  height: 100vh;
  width: 300px;
}

#cookie img {
  max-width: 100%; /* Optioneel: voorkomt dat de afbeelding te groot wordt */
  height: auto;
    cursor:pointer ;
}

#score {
 display: flex;
  align-content: center;
}
